@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.forgot-password {
  h1 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-secondary;
    margin: 2rem 0;
  }
  p {
    font-size: 1.7rem;
    font-family: $font-primary;
    text-align: center;
    color: gray;

    @include mediaPhone {
      font-size: 1.5rem;
    }
  }
  li {
    list-style: disc;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    font-family: $font-primary;
    color: gray;

    @include mediaPhone {
      font-size: 1.4rem;
    }
  }
}
