@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.reset-password-page {
  padding: 2rem;

  h1 {
    font-size: 3rem;
    font-family: $font-secondary;
    margin: 3rem 0;
    text-align: center;
  }
}
