@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

form .signout-btns {
  width: 400px;
  margin: 1rem;
  @include flex-between;

  span {
    font-size: 1.6rem;
    font-family: $font-primary;
    cursor: pointer;
    color: tomato;
    transition: all 0.23s;
    border-bottom: 1px solid tomato;
    padding: 0.3rem;
    &:hover {
      opacity: 0.5;
    }
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

form .password-update-heading {
  font-size: 3rem;
  font-family: $font-secondary;
  margin: 3rem 0;
}
